In [6]:
# This is a single line comment
'''
This is a multiline comment
'''

'\nThis is a multiline comment\n'

In [1]:
## *******************Data Structures

In [15]:
## ***************More Strings
strEx = "Strings Example"
type(strEx)

str

In [17]:
# Inbuilt Functions
# Length of String
len(strEx)

15

In [18]:
strEx[2] #Get the third character with an index

'r'

In [20]:
strEx1 = "Wonderful "
strEx1 + strEx

'Wonderful Strings Example'

In [22]:
#Slicing
strEx[1:]

'trin'

In [28]:
newStr = "Hello World"
newStr[1:7] #Slice from the [1] to the character before [7]

'ello W'

In [31]:
newStr.upper()

'HELLO WORLD'

In [35]:
newStr.lower()

'hello world'

In [38]:
newStr.endswith('d')

True

In [42]:
newStr.index('World')

6

In [50]:
newStr[0:5:2]

'Hlo'

In [64]:
newStr[len(newStr):0:-1]

'dlroW olle'

In [63]:
newStr[::-1]

'dlroW olleH'

In [65]:
i=-1
newStr[::i]

'dlroW olleH'

In [69]:
newStr.replace('World','ord',3)

'Hello ord'

In [71]:
alphabet = 'z'
alphabet*10

'zzzzzzzzzz'

In [74]:
10*newStr

'Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World'

In [75]:
str(1)+newStr

'1Hello World'

In [77]:
str(int('1')+10)

'11'

In [78]:
newStr.lower()

'hello world'

In [80]:
newStr.split(' ')

['Hello', 'World']

In [81]:
newStr.split('H')

['', 'ello World']

In [83]:
newStr.split('l')

['He', '', 'o Wor', 'd']

In [91]:
newStr.split(' ',0) #With no (0) splits

['Hello World']

In [92]:
newStr.isalnum()

False

In [93]:
someS="Siva$"
someS.isnumeric()

False

In [94]:
newStr.partition('o')

('Hell', 'o', ' World')

In [101]:
newList=[1,2,3,'Siva']
len(newList)

4

In [103]:
newList[2]="Krish"
newList

[1, 2, 'Krish', 'Siva']

In [106]:
newList[1:3]

[2, 'Krish']

In [108]:
newList + ['Sid'] #Concat lists

[1, 2, 'Krish', 'Siva', 'Sid']

In [110]:
newList + list('Sid') #Concat lists with indv chars

[1, 2, 'Krish', 'Siva', 'S', 'i', 'd']

In [117]:
newList = [1,2,3,'Siva']

In [118]:
newList * 2

[1, 2, 3, 'Siva', 1, 2, 3, 'Siva']

In [123]:
for i in range(len(newList)): #For loop
    print(newList[i])

1
2
3
Siva

In [126]:
for item in newList: #Same loop with list
    print(item)

1
2
3
Siva

In [127]:
newList.pop()

'Siva'

In [135]:
newList = ["Hello","Siva"]
newList.sort()

In [139]:
newList

['Hello', 'Siva']

In [140]:
outerList = [[1,2],4,5]
outerList

[[1, 2], 4, 5]

In [141]:
outerList.pop()

5

In [152]:
outerList = [[1,2,3],[4,5,6],[3,9,0]]
outerList[2][1]

9

In [146]:
x=[1,2,3]
x.extend([4,5])
x

[1, 2, 3, 4, 5]

In [153]:
outerList.extend([[4,5,6]])
outerList

[[1, 2, 3], [4, 5, 6], [3, 9, 0], [4, 5, 6]]

In [158]:
##*********Tuples. Are immutable. Once assigned it cannot be changed******

In [155]:
tupMe=(1,2,3)
tupMe

(1, 2, 3)

In [161]:
tupMe[1:]

(2, 3)

In [163]:
len(tupMe)

3

In [171]:
tupMe = ((1,2),(3,4))
tupMe

((1, 2), (3, 4))

In [176]:
tupMe = ((1,2),'s0','s1')
tupMe

((1, 2), 's0', 's1')

In [181]:
tupMe[:-2] ##-2 means take 2 items off

((1, 2),)

In [185]:
tupList = [(1,2), 1,3]
tupList[0]= (4,5)
tupList

[(4, 5), 1, 3]

In [188]:
tupList.index((4,5))

0

In [200]:
##*******************Sets**************
##Collection of Unique sorted items

In [194]:
mySet=set()
mySet.add(1)
mySet

{1}

In [196]:
mySet = {1,2,3,4,5,5} #Only unique elements are taken
print(mySet)

{1, 2, 3, 4, 5}

In [197]:
set([1,26,3,9,8,1])

{1, 3, 8, 9, 26}

In [198]:
mySet.pop()

1

In [199]:
##*********Dictionary****************

In [201]:
myDic={'key1':'val1', 'key2':'val2'}
myDic

{'key1': 'val1', 'key2': 'val2'}

In [202]:
myDic['key1']

'val1'

In [203]:
myDic={'key1':(1,2), 'key2':(4,5)}
myDic

{'key1': (1, 2), 'key2': (4, 5)}

In [206]:
myDic={'key1':(1,2), 'key2':(4,5), 'key3':[8,9,0]}
print(myDic['key3'][0])

8

In [207]:
myDic['key2']-=120
myDic

TypeError: unsupported operand type(s) for -=: 'tuple' and 'int'

In [209]:
myDic['key4']=45
myDic

{'key1': (1, 2), 'key2': (4, 5), 'key3': [8, 9, 0], 'key4': 45}

In [210]:
myDic={'key1':{'key2':'Siva'}}
myDic['key1']['key2']

'Siva'

In [211]:
myDic.keys()

dict_keys(['key1'])

In [212]:
myDic.values()

dict_values([{'key2': 'Siva'}])

In [214]:
print(myDic.items())

dict_items([('key1', {'key2': 'Siva'})])

In [229]:
list({x**2 for x in range(10)}) #List Comprehension syntax

[0, 1, 64, 4, 36, 9, 16, 49, 81, 25]

In [231]:
def greet():
    print('hello world!!!')

hello world!!!

In [232]:
greet()

hello world!!!

In [234]:
def sq(num):
    return num * num

In [237]:
val = sq(4)
val

16

In [238]:
def addItemsInList(list):
    sum = 0
    for num in list:
        sum+=num
    print(sum)

In [240]:
addItemsInList([3,4,3])

10

In [241]:
addItemsInList((4,5))

9

In [243]:
addItemsInList({1,2,4})

7

In [289]:
def factorial(num):
    if(num == 1):
        return num
    else:
        return num * factorial(num - 1)

In [290]:
factorial(4)

24

In [291]:
## Lambdas

In [297]:
mult = lambda num: num * 2

In [298]:
mult(2)

4

In [299]:
##Map and Filters

In [301]:
seq=[1,2,3,4]
list(map(mult,seq))

[2, 4, 6, 8]

In [316]:
seq1=((4,5,1),(1,2,5))
set(map(mult,seq1))

{(1, 2, 5, 1, 2, 5), (4, 5, 1, 4, 5, 1)}

In [318]:
list(filter(lambda item:item%2==0,seq))

[2, 4]

In [329]:
list(map(lambda num:num/2,[3,4,5]))

[1.5, 2.0, 2.5]

In [330]:
##Reduce

In [340]:
import functools
def reduceNum(numList):
    return functools.reduce(lambda a,b: a+b, numList)

In [341]:
reduceNum([1,2,3,4,5])

15

In [342]:
##Generator Functions

In [344]:
def genCube(num):
    for i in range(num):
        yield i**3 #Returns to caller and then comes back into this for loop

for j in genCube(10):
    print(j)

0
1
8
27
64
125
216
343
512
729

In [345]:
g = genCube(10)
print(next(g))

0

In [346]:
print(next(g))

1

In [347]:
print(next(g)) #next() works only with yield

8

In [348]:
list(g)

[27, 64, 125, 216, 343, 512, 729]

In [8]:
list(range(2,6))

[2, 3, 4, 5]