In [53]:
## *******************Operators***********************

In [1]:
1+1

2

In [4]:
1-2

-1

In [7]:
5%2

1

In [6]:
2**4

16

In [8]:
4/2

2.0

In [9]:
name="Siva"
print(name)

Siva

In [10]:
example_int=12
print(example_int)

12

In [15]:
x=10
x="Siva"
print(x)
type(x)
y='Shiva'
y

Siva

'Shiva'

In [14]:
(1+3)*(2*4)

32

In [20]:
x=2
y=4
z=x+y
z
x0=1
y0=4
x0+y0

5

In [21]:
type('Siva')

str

In [22]:
z

6

In [24]:
## ***************Formatting Strings*****************

In [25]:
age=30
name='Sid'
print('My name is {} and age is {}'.format(name,age))

My name is Sid and age is 30

In [28]:
print('My name is {n} and age is {a}'.format(n=name,a=age))

My name is Sid and age is 30

In [29]:
age,name=28,'Krish'
age

28

In [30]:
## *****************Booleans****************

In [31]:
1>2

False

In [32]:
myBoolean=True
myBoolean

True

In [34]:
2==3

False

In [35]:
's'=='s'

True

In [36]:
(1>2) and (2<3)

False

In [49]:
if not myBoolean:
    print("True")
    print("Welldone!!!")
    if 1<2:
        print("Good")
elif (2>3):
    print("2>3")
else:
    print("False")

False

In [55]:
## ****************Loops**********************

In [51]:
list=[1,2,3]
for i in list:
    print(i)

1
2
3

In [57]:
i=1
while i < 5:
    print("i is {}".format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [58]:
for i in range(5):
    print(i)

0
1
2
3
4

In [59]:
## ******************Mutablilty of objects

In [60]:
str="Krish"
str
str="Arjun"
str

'Arjun'

In [61]:
tuple_1=(1,2,3)

In [62]:
list = [1,2,3]
list

[1, 2, 3]

In [63]:
list[2]=4
list

[1, 2, 4]

In [64]:
## ********************Tuple and strings cannot be changed (immutable) whereas list is mutable

In [65]:
tuple_1[1]=10

TypeError: 'tuple' object does not support item assignment

In [2]:
i=0
while i<5:
    i=i+1
    if(i==3):
        continue
    else:
        print(i)

1
2
4
5