In [2]:
##SQLite database access

In [17]:
import sqlite3
db = sqlite3.connect("CarsDB.db")
db.execute("drop table if exists cars_info")
db.execute("create table cars_info(id int, name text, score int)")
db.execute("insert into cars_info(id,name, score) values(1,'Baleno',8)")
db.execute("insert into cars_info(id,name, score) values(2,'Elite i20',9)")

OperationalError: database is locked

In [ ]:
db.commit()

In [13]:
results = db.execute("select * from cars_info")
print([res for res in results])

[]